:root {
    --color-main: #fd5956;
}

.h1,
.h2,
.h3,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Tilt Neon', cursive;
    font-size: 15px;
    line-height: 1.5;
    background: #f9f8fd;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin-bottom: 8px;
}

.screen-width {
    max-width: 1200px;
    margin: 0 auto;
    perspective: 20px;

}

header {
    padding: 10px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.322);
}

header span {
    color: var(--color-main);
    font-weight: 600;
    text-transform: uppercase;
}

main {
    padding: 40px 0px;
}

main>div:first-child {
    display: flex;
    position: relative;
}

main>div:first-child::after {
    content: "DÆ°a";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Pacifico', cursive;
    color: #fd59561a;
    z-index: -1;
    font-size: 180px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduce,
.img_introduce {
    width: 50%;
    display: block;
}

.introduce {
    margin: auto;
    position: relative;

    padding: 10px;
}

.introduce::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    z-index: -3;
}

.img_introduce>div:first-child>img {
    display: block;
    margin: 0 auto;
    filter: drop-shadow(0 12mm 11mm #000);
}

.img_introduce {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    z-index: -1;
}

.img_introduce>div:first-child {
    content: "";
    position: relative;
    display: block;
    margin: 0 auto;
    background: linear-gradient(45deg, #88D5BF 0%, #5D6BF8 100%);
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    overflow: hidden;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        background: linear-gradient(45deg, #88D5BF 0%, #5D6BF8 100%);
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
        background: linear-gradient(45deg, #e27fcb 0%, #5D6BF8 100%);
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        background: linear-gradient(45deg, #88D5BF 0%, #5D6BF8 100%);
    }
}

img {
    max-width: 100%;
    height: auto;
}

.job {
    color: var(--color-main);
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
}

.name {
    font-family: 'Tilt Warp', cursive;
    font-size: 60px;
    display: inline-block;
    align-items: center;
    letter-spacing: 0;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0);
    background: url("../images/rp1.jpg") repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    animation: aitf 80s linear infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    border: 4px double #80808040;
    border-width: 4px 0;
}

@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

@keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.name img {
    margin-right: 10px;
    border: 1px solid #80808040;
    border-radius: 50%;
}

.description p {
    display: flex;
    align-items: center;
}

.description p:nth-child(5) {
    padding-bottom: 4px;
    border-bottom: 1px dashed gray;
}

.description p:first-child,
.description p:nth-child(6) {
    font-weight: 600;
    font-size: 18px;
    text-decoration: underline;
}

.description img {
    padding-right: 10px;
}

.social {
    padding-top: 20px;
    display: flex;

}

.social a {
    padding-right: 10px;
    display: block;
}

.social a img {
    animation: animatesocial 2s infinite linear;
}

.social a:nth-child(2) img {
    animation-delay: .5s;
}

.social a:nth-child(2) img {
    animation-delay: 1s;
}

.social a img:hover {
    position: relative;
    top: -5px;
    box-shadow: rgb(38 57 77) 0px 18px 20px -12px !important;

}

@keyframes animatesocial {
    0% {
        transform: rotate(6deg);
    }

    50% {
        transform: rotate(-6deg);
    }

    100% {
        transform: rotate(6deg);
    }
}

.line {
    z-index: 2;
    position: relative;
    background: linear-gradient(90deg, rgba(86, 219, 253, 1) 0%, rgba(253, 89, 86, 1) 100%);
    width: 100%;
    height: 60px;
    border-radius: 12% 43% 10% 43% / 37% 84% 56% 100%;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
}

main .screen-width:first-child {
    position: relative;
}

main .screen-width:first-child::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("../images/line.png") center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.description_duty {
    width: 50%;
    border: 1px double #eaeaea;
    margin-top: 10px;
    border-radius: 5px 5px 0 0;
}

.description_duty>div:first-child {
    display: flex;
    align-items: center;
    background: #6a2b84;
    position: relative;
    z-index: -2;

}

.description_duty>div:first-child:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    width: 100%;
    background: white;
    z-index: -1;
}

.img_cv {
    width: 40%;
}

.img_cv img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    padding: 4px;
    background: white;
    border: 1px solid #80808057;
}

.duty {
    width: 60%;

}

.duty div {
    line-height: 50px;
}

.duty div:first-child {
    color: white;
}

.duty div:nth-child(2) {
    color: black;
}

.img_circle {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.img_circle:first-child {

    width: 100px;
    height: 100px;
}

.img_circle:nth-child(2) {
    width: 60px;
    height: 60px;
}

.img_circle:nth-child(3) {
    width: 100px;
    height: 100px;
}

.img_circle:nth-child(4) {
    width: 60px;
    height: 60px;
    animation: chuyendongcircle 30s infinite ease;
}

.img_circle:nth-child(5) {
    width: 100px;
    height: 100px;
    /* animation: chuyendongcircle1 5s infinite ease; */
}

.div_dircle {
    width: 60%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    animation: xoay 30s infinite ease;
}

@keyframes chuyendongcircle {
    0% {
        top: 50%;
        left: 50%;
    }

    10% {
        top: 0%;
        left: 50%;
        transform: rotate(0deg);
    }

    40% {
        top: 0%;
        left: 50%;
        transform: rotate(-180deg);
    }

    50% {
        top: 50%;
        left: 50%;

    }

    60% {
        top: 0%;
        left: 50%;
        transform: rotate(-180deg);
    }

    90% {
        top: 0%;
        left: 50%;
        transform: rotate(-360deg);
    }

    100% {
        top: 50%;
        left: 50%;
    }
}

@keyframes xoay {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(180deg);
    }

    60% {
        transform: rotate(180deg);
    }

    90% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.section2 {
    margin-top: 20px;
}

.skill {
    display: grid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.item_skill {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 10px;
    border-radius: 10px;
    background: white;
    text-align: center;
}

.item_skill:first-child {
    background: linear-gradient(180deg, rgba(253, 245, 239, 1) 0%, rgba(238, 218, 204, 1) 100%);
}

.item_skill:nth-child(2) {
    background: linear-gradient(180deg, rgba(244, 247, 255, 1) 0%, rgba(205, 214, 231, 1) 100%);
}

.item_skill:nth-child(3) {
    background: linear-gradient(180deg, rgba(240, 249, 255, 1) 0%, rgba(209, 231, 244, 1) 100%);
}

.item_skill:nth-child(4) {
    background: linear-gradient(180deg, rgba(253, 255, 255, 1) 0%, rgba(99, 185, 210, 1) 100%);
}

.item_skill:nth-child(5) {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgb(242 210 208) 100%)
}

.item_skill:nth-child(6) {
    background: linear-gradient(180deg, rgba(255, 253, 253, 1) 0%, rgba(255, 176, 162, 1) 100%);
}

.item_skill:nth-child(7) {
    background: linear-gradient(180deg, rgba(255, 251, 245, 1) 0%, rgb(255 228 186) 100%);
}
.item_skill:nth-child(8) {
    background: linear-gradient(180deg, rgba(255,251,245,1) 0%, rgba(200,200,200,1) 100%);
}
.des_skill p:first-child {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase;
}

.des_skill p:nth-child(2) {
    color: gray;
    font-style: italic;
}

.des_skill button {
    padding: 8px 15px;
    border-radius: 90px;
    border-color: transparent;
    background: white;
    font-weight: 600;
    font-size: 18px;
    width: 60%;
    color: #000000bf;
    cursor: pointer;
}

.section1,
.section2 {
    position: relative;

}   
main{
    width: 100%;
    overflow: hidden;
}
.box_gradian1 {
    position: absolute;
    left: 90%;
    top: 80%;
    width: 300px;
    height: 300px;
    transform: rotate(-300deg);
    background: linear-gradient(97deg, rgba(205, 47, 190, 1) 0%, rgba(248, 157, 0, 1) 100%);
    border-radius: 20px;
    z-index: -5;
}

.box_gradian2 {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 300px;
    height: 300px;
    transform: rotate(-300deg);
    background: linear-gradient(270deg, rgba(205, 47, 190, 1) 0%, rgba(248, 157, 0, 1) 100%);
    border-radius: 20px;
    z-index: -10;
}
.box_gradian3 {
    position: absolute;
    left: 60%;
    top: 25%;
    width: 200px;
    height: 200px;
    transform: rotate(-300deg);
    background: linear-gradient(270deg, rgba(205, 47, 190, 1) 0%, rgba(248, 157, 0, 1) 100%);
    border-radius: 20px;
    z-index: -10;
}
@media(max-width:1024px) {
    header {
        width: 97%;
        margin: 0 auto;
    }

    main .screen-width:first-child {
        flex-direction: column;
        max-width: 97%;
    }

    .introduce,
    .img_introduce {
        width: 100%;
    }
}

@media(max-width:769px) {
    .name {
        font-size: 40px !important;
    }

    .description_duty {
        width: 100%;
    }
    .skill{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 10px;
    }
    .item_skill{
        margin-bottom: 8px;
    }
}
footer{
    border-top: 1px solid rgba(128, 128, 128, 0.322);
}
footer .screen-width{
    padding: 10px 0;
    text-align: center;
}